body {
    font-family:Arial, Helvetica, sans-serif;
    min-width: 800px;
}

h1 {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #58a6ff;
}

.head {
    margin-bottom: 15px;
}

.subTitle {
    font-size: 0.8em;
    font-weight: bold;
}

.usernamelink {
    /* color: #18508f; */
    text-decoration: none;
}

#roomUserText {
    width: 100%;
    text-align: right;
}

#roomStats {
    width: 100%;
    text-align: right;
}

#roomStats b {
    margin-right: 20px;
}

.splitchattable, .splitstatetable {
    width: 100%;
}

.splitstatetable td {
    width: 50%;
}

.containerheader {
    text-align: center;
}

.chatcontainer, .giftcontainer {
    overflow-y: scroll;
    height: calc(100vh - 240px);
    word-wrap: break-word;
}

.chatcontainer {
    width: 800px;
}

.giftcontainer {
    min-width: 400px;
}

.miniprofilepicture {
    height: 20px;
    width: 20px;
}

.gifticon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


span {
  display: inline-block;
  animation: stretch 2.5s cubic-bezier(0.4, 1.4, 0.75, 0.9) 1;
  transform-origin: center;
  color: black;
}

@keyframes stretch {
  10% {
    transform: scaleX(1000000);
    opacity: 0.1;
    color:  rgb(0, 0, 0);
    /* box-shadow: 0 0 0px 1px rgba(142, 255, 249, 0.753); */
  }
  15% {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}